extends layout 

block content 
    form(action="/products", method="post" enctype="multipart/form-data")
        ul 
            li 
                label(for="name") name
                input#name(type="text" name="name")
            li 
                label(for="price") price
                input#price(type="number", name="price")
            li 
                label(for="coverPhoto") coverPhoto 
                input#coverPhoto(type="file", name="coverPhoto") 
            li
                label(for="photos") photos 
                input#photos(type="file", name="photos" multiple)
            li 
                button(type="submit") submit 
    